<div class="container padding">
    <h1>{{ title }}</h1>
    <div>
        <label>Hero name:</label> <input #heroName />
        <button (click)="add(heroName.value); heroName.value=''">
          Add
        </button>
    </div>
    <ul class="heroes">
        <li *ngFor="let hero of heroes; let i = index" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span>{{i + 1}} {{hero.name}}
            <button class="btn btn-danger" (click)="delete(hero); $event.stopPropagation()">-</button>
        </li>
    </ul>
    <div *ngIf="selectedHero">
        <h2>
            {{selectedHero.name | uppercase}} is my hero
        </h2>
        <button (click)="gotoDetail()">View Details</button>
    </div>
    <hero-detail [hero]="selectedHero"></hero-detail>
    <!-- <div *ngIf="selectedHero">
        <h2>{{selectedHero.name}} details!</h2>
        <div><label>id: </label>{{selectedHero.id}}</div>
        <div>
            <label>name: </label>
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </div>
    </div> -->
    <!-- <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="hero.id" />
        <label class="input-group-addon">Id</label>
    </div>
    <br>
    <div class="input-group">
        <label class="input-group-addon">Name</label>
        <input [(ngModel)]="hero.name" placeholder="name" class="form-control" />
    </div> -->
</div>